<!DOCTYPE html>

{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block style %}
<style>
body {
  padding-top: 56px;
}
</style>
{% endblock %}
{% block content %}

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      
      
      <div class="collapse navbar-collapse" id="navbarResponsive" style="font-size:20px;">
         <img src="{% static 'images/peslogo.png' %}" alt="PES Logo" height="55px">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/policy">Policy</a>
          </li>
          <li class="nav-item">
          <div class="dropdown">
            <span class="caret" style="color:white"></span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="color:white;">
           </button>
            <ul class="dropdown-menu" background-color="#212529">
              <li background-color="#212529">  <a class="nav-link" href="/accounts/logout"><font color="grey">Logout</font></a></li>
            <li background-color="#212529"><a class="nav-link" href="/accounts/update"><font color="grey">Update Password</font></a></li></ul></div>
          </li>
              
            </ul>
          </div>
          
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<div class="text-center">
{% if gender == "male" %}
<div class = "text-center">
        <img class="img-circle" src="{% static 'images/male.png' %}" alt="gender" width="200"  >
    </div>
    {% endif %}

{% if gender == "female" %}
<div class = "text-center">
        <img class="img-circle" src="{% static 'images/female.png' %}" alt="gender" width="200"  >
    </div>
    {% endif %}
  <div class = "text-center"><font size="7">{{name}}</font></div>

</div>
<div class="container text-center hoverable">
  <div class = "row">

  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Pursuing</h3>
      <h4 class="card-text">{{highest_qualification}}</h4>
    </div>
    </div>
  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Branch</h3>
      <h4 class="card-text">{{department}}</h4>
    </div>
  </div>
  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Year of Pass</h3>
      <h4 class="card-text">{{year_of_pass}}</h4>
    </div>
  
  </div>
</div>
<div class = "row">
  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">CGPA</h3>
      <h4 class="card-text">{{cgpa}}</h4>
    </div>
  </div>
  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">10th Standard</h3>
      <h4 class="card-text">{{tenth}}%</h4>
    </div>
  </div>
  <div class="col-md-4 card bg-light hoverable" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">12th Standard</h3>
      <h4 class="card-text">{{twelfth}}%</h4>
    </div>
  </div>
</div>

</div>
{% endblock %}

